
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f3f1f1;
        }
        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        input[type="text"], input[type="tel"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: rgb(32, 106, 225);
            color: blanchedalmond;
            padding-inline: 20px;
            padding-block: 10px;
            border-radius: 10px;
            transition: background-color 0.6s;
            text-decoration: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            font-weight: bold;
            font-size: larger;
        }
        button:hover {
            background-color: #00bbff;
        }

        #resultado {
            margin-top: 20px;
        }
    